<div class="location-card">
  <header class="card__header">
    <h1 class="card__title">Location Name</h1>
    <div class="card__addr">
      <span>County Name</span><span> • </span><span>123 Address Lane, City, State, Zip</span>
    </div>
  </header>
  <div class="card__middle">
    <div>
      <div class="card__last-updated">Updated 12 hours ago</div>
      <div class="card__pill--success">Vaccine available by appointment</div>
    </div>
    <div>
      <a href="#" class="card__cta">
        Book Appointment <i style="font-size:14px" class="material-icons">launch</i></a>
    </div>
  </div>
  <div class="card__footer">Notes go here</div>
</div>
