<head>
{% if site.analytics.google %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

  gtag('config', '{{ site.analytics.google }}');
  </script>
  <!-- End Google Analytics -->
{% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <meta property="og:image" content="{{ site.url }}/assets/img/homepage.jpg" />

  {% if page.title == 'Call a provider' %}
    <meta name="robots" content="noindex nofollow">
  {% endif %}

  <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">

  <title>
    {% if page.title and page.title.size == 2 %}
      {{ page.name | append: " | " | append: site.title }}
    {% elsif page.title %}
      {{ page.title | append: " | " | append: site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <!-- Shared JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Space+Grotesk" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this theme -->
  <!--<link href="assets/css/agency.min.css" rel="stylesheet">-->
  <link href="assets/css/agency.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/all.min.css" >

  {% if page.layout == "state" %}
  <!-- map and table scripts -->
  <script src="assets/js/papaparse.min.js"></script>
  <script src="assets/js/showdown.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
  <script src='https://npmcdn.com/csv2geojson@latest/csv2geojson.js'></script>
  <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
  <link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
  type="text/css"
  />

    {% if page.lat %}
    <link href="/assets/css/map.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/netliva_switch.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
      const MAPBOX_TOKEN = 'pk.eyJ1IjoiZmluZHlvdXJ2YWNjaW5lIiwiYSI6ImNrano2b2FmczAxMmQyd3Biajg3Mmg2a2cifQ.oOyj-x2PbbQJ35Iza4RMnA';
      const GSHEET_ID = '1124pvazfFxhHkfFldcdrhSoh8DlpPwu0QvUskupEiG0';
      // set GSHEET_NAME and lat/lon for specific state
      const GSHEET_NAME = "{{ page.abbrev }}";
      const CENTER_LAT = parseFloat(`{{ page.lat }}`);
      const CENTER_LON = parseFloat(`{{ page.lon }}`);
      const MIN_X = parseFloat(`{{ page.minX }}`);
      const MIN_Y = parseFloat(`{{ page.minY }}`);
      const MAX_X = parseFloat(`{{ page.maxX }}`);
      const MAX_Y = parseFloat(`{{ page.maxY }}`);
    </script>
    <script async src="/assets/js/map.js"></script>
    <script src="assets/js/netliva_switch.js"></script>
    {% endif %}

  {% endif %}

  <!-- Page container change top padding when nav shrinks -->
  {% if page.layout == "page" %}
  <style>
    #pagecontainer {padding-top: 150px;}
  @media only screen and (max-width: 991px) {
    #pagecontainer {padding-top: 100px;}
  }
  </style>
  {% endif %}

</head>