<div id="map" class="map-legend">
  <nav id="filters" class="filter-ui">
    <div class="key-container">
      <span class="dot" style="background-color: #1a9641"></span>
      <label class="filter-label" for="Available for eligible"
        >Vaccine available for those eligible</label
      >
      <div class="switch-container">
        <input type="checkbox" class="map-filter-checkbox" netliva-switch id="Available for eligible" checked />
      </div>
    </div>
    <div class="key-container">
      <span class="dot" style="background-color: #fdae61"></span>
      <label class="filter-label" for="Have vaccine, no appointments"
        >No appointments available</label
      >
      <div class="switch-container">
        <input type="checkbox" class="map-filter-checkbox" netliva-switch id="Have vaccine, no appointments" checked />
      </div>
    </div>
    <div class="key-container">
      <span class="dot" style="background-color: #d7191c"></span>
      <label class="filter-label" for="No vaccine available">Vaccine unavailable</label>
      <div class="switch-container">
        <input type="checkbox" class="map-filter-checkbox" netliva-switch id="No vaccine available" checked />
      </div>
    </div>
    <div class="key-container">
      <span class="dot" style="background-color: #92c5de"></span>
      <label class="filter-label" for="Unknown">No data on location</label>
      <div class="switch-container">
        <input type="checkbox" class="map-filter-checkbox" netliva-switch id="Unknown" checked />
      </div>
    </div>
  </nav>
</div>

<script>
  // find near me
  document.querySelector("#locate-provider").addEventListener("click", geolocate);
  function geolocate(e) {
    $(e.target).css("background-color", "white");
    $(e.target).html("<img src='assets/img/spinner.svg' />");
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(jumpToMap);
    }
  }

  function jumpToMap(position) {
    $("html,body").animate({ scrollTop: $("a[name='providers']").offset().top }, "slow");
    map.flyTo({
      center: [position.coords.longitude, position.coords.latitude],
      zoom: 10,
    });
  }
</script>
