<div id="map">
  <nav id='filters' class='filter-ui'>
    <strong class='filter-header'>Filter providers by status:</strong>
    <input type="checkbox" class="netliva-switch" netliva-switch id="Available">
    <label class="filter-label" for="Available">Available for eligible</label>
  </nav>
</div>

<script>
  // find near me
  document.querySelector('#locate-provider').addEventListener('click', geolocate);
  function geolocate(e) {
    $(e.target).css('background-color','white');
    $(e.target).html("<img src='assets/img/spinner.svg' />")
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(jumpToMap);
    }
  }

  function jumpToMap(position) {
    $('html,body').animate({scrollTop: $("a[name='providers']").offset().top},'slow');
    map.flyTo({
      center: [position.coords.longitude, position.coords.latitude],
      zoom: 10 }
    );
  }
</script>