<div class="providers-container">
<div class="row">
  <div id="cards-and-search" class="col-md-5">
    <div id="map-search"></div>
    <button id="locate-provider" class="btn btn-primary btn-sm">
      <i style="font-size:14px" class="material-icons">my_location</i> Use my location
    </button>
    <div id="provider-cards" class="cards-container"></div>
  </div>
  <div id="map" class="col-md-7">
    <nav id="filters" class="filter-ui">
      <div class="key-container">
        <span class="dot" style="background-color: #1a9641"></span>
        <label class="filter-label" for="status-available"
          >Vaccine available for those eligible</label
        >
        <div class="switch-container">
          <input type="checkbox" class="map-filter-checkbox" netliva-switch id="status-available" checked />
        </div>
      </div>
      <div class="key-container">
        <span class="dot" style="background-color: #fdae61"></span>
        <label class="filter-label" for="status-no-appt"
          >Not scheduling appointments</label
        >
        <div class="switch-container">
          <input type="checkbox" class="map-filter-checkbox" netliva-switch id="status-no-appt" checked />
        </div>
      </div>
      <div class="key-container">
        <span class="dot" style="background-color: #d7191c"></span>
        <label class="filter-label" for="status-no">Vaccine unavailable</label>
        <div class="switch-container">
          <input type="checkbox" class="map-filter-checkbox" netliva-switch id="status-no" checked />
        </div>
      </div>
      <div class="key-container">
        <span class="dot" style="background-color: #333333"></span>
        <label class="filter-label" for="status-unknown">No data on location</label>
        <div class="switch-container">
          <input type="checkbox" class="map-filter-checkbox" netliva-switch id="status-unknown" checked />
        </div>
      </div>
    </nav>
  </div>
</div>
</div>

<script>
  // find near me
  document.querySelector("#locate-provider").addEventListener("click", geolocate);
  function geolocate(e) {
    $(e.target).css("background-color", "white");
    $(e.target).html("<img src='assets/img/spinner.svg' />");
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(jumpToMap);
    }
  }

  function jumpToMap(position) {
    $("html,body").animate({ scrollTop: $("a[name='providers']").offset().top }, "slow");
    map.flyTo({
      center: [position.coords.longitude, position.coords.latitude],
      zoom: 10,
    });
  }
</script>
