<header class="masthead">
  <div class="container splash-container">
    <div class="left">
      <div class="intro-text">
        <h1 class="header">{{ site.data.sitetext.header.title | markdownify }}</h1>
        <hr />
        <div class="dropdown-label">{{ site.data.sitetext.header.text | markdownify }}</div>
        <select class="custom-select" name="state" id="state" onchange="location = this.value;">
          <option disabled selected value="">Select your state...</option>
          {% for state in site.states %}
          <option value="{{ state.abbrev }}">{{ state.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="right">
      <br><br><br>
      <iframe src="https://createaclickablemap.com/map.php?id=100153&maplocation=&online=true" width="600" height="350" style="border: none;"></iframe>
<script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>
    </div>
  </div>
</header>
