<div class="container state-holder">
  <div class="intro-text text-center">
    <h2>{{ page.name }}</h2>
    <div>
      <br />
      <div id="summary"></div>
      <br />
      <div id="vaccine-spotter" style="display:none;">
        To find current appointments available through chain pharmacies, visit:<br />
        <a href="https://www.vaccinespotter.org/{{ page.title | upcase }}">VaccineSpotter.org/{{ page.title | upcase }}</a>
      </div>
      <br />
      <div id="website">
        <img src="assets/img/spinner.svg" />
      </div>
      {% if page.counties %}
        <br /><br />
        View county-specific information, where available:<br />
        <select name="county" id="county" onchange="toggleCounty(this);">
          <option disabled selected value="">Select your county...</option>
        </select>
        <div class="card card-med mx-auto" id="county-holder">
          <div class="card-body" id="county-details"></div>
        </div>
      {% endif %}
    </div>
    <br />
    <small>
      Last updated: 
      <span id="updated"></span>
    </small>
  </center>
</div>

{{ content }}

<script>
  $("#page-top").addClass("bg-light");
  $("#mainNav").css("background-color","#212529");

  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: 'https://docs.google.com/spreadsheets/d/1ZlVkvo3jIS_Cyek1SWIPyyyZi0_nI_5rEI4VWLJ80dk/gviz/tq?tqx=out:csv&sheet=State%20Summaries',
      dataType: "text",
      success: function (csvData) { parseState(csvData, "{{ page.name }}"); }
    });

    {% if page.counties %}
      $.ajax({
        type: "GET",
        url: `https://docs.google.com/spreadsheets/d/{{page.counties}}/gviz/tq?tqx=out:csv&sheet=data`,
        dataType: "text",
        success: function (csvData) { parseCounties(csvData); }
      });
    {% endif %}
  });

  var converter = new showdown.Converter();
  converter.setOption('openLinksInNewWindow', true);
  converter.setOption('simplifiedAutoLink', true);

  {% if page.counties %}
    function parseCounties(csv) {
      var rows = Papa.parse(csv).data;
      for (i=1; i<rows.length; i++) {
        $('#county').append($('<option>', {
          value: rows[i][0],
          text: rows[i][0],
          disabled: rows[i][1].length == 0
        }));
        var markedRow = converter.makeHtml(rows[i][1]);
        $('#county-details').append($('<div>', {
          class: 'county-detail',
          id: `county-${rows[i][0]}`,
          html: `${rows[i][0]} County: ${markedRow}`
        }))
      }
    }

    function toggleCounty(selected) {
      $('#county-holder').hide();
      $('.county-detail').hide();
      $(`#county-${selected.value}`).show();
      $('#county-holder').show();
    }
  {% endif %}

  function parseState(csv, stateName) {
    var rows = Papa.parse(csv).data;
    var states = rows[0];

    var stateCol;
    for (stateCol=0; stateCol<states.length; stateCol++) {
      if (states[stateCol] == stateName) {
        break;
      }
    }

    data = {};
    for (i=1; i<rows.length; i++) {
      data[rows[i][0]] = rows[i][stateCol];
    }

    $("#summary").html(data['Summary']);

    if (data['VaccineSpotter'] == 'TRUE') {
      $("#vaccine-spotter").show();
    }

    $("#website").html("For the latest official updates from your state and to determine eligibility, visit:<br />" + link(data['State Vaccination Website']));
    $("#updated").html(data['Last Updated'] + ' ET');
  }

  function link(str) {
    str = str.trim();
    return `<a target="_blank" href="${str}">${str}</a>`;
  }

  function mark(data, id, list=false) {
    data = data.trim();
    var dataArray = data.split('\n');
    dataArray.forEach((row, i) => {
      if (list) {
        if (row.length > 0) {
          if (dataArray.length > 1) {
            dataArray[i] = `- ${row}`
          } else {
            dataArray[i] = `${row}`
          }
        } else {
          dataArray[i] = '<br /><br />'
        }
      } else {
        if (dataArray.length > 1) {
          dataArray[i] = `${row}<br />`
        } else {
          dataArray[i] = row
        }
      }
    });
    data = dataArray.join('\n');
    $("#"+id).html(converter.makeHtml(data));
  }
</script>
