<div class="container state-holder">
  <div class="intro-text text-center">
    <h2>{{ page.name }}</h2>
    <div>
      <br />
      For the latest official updates from your state, visit:<br />
      <span id="website">
        <img src="assets/img/spinner.svg" />
      </span>
    </div>
    {% if page.lat %}
      <div>
        <br />
        For a map of current vaccine providers in {{ page.name }}, <a href="#providers">click here</a>.<br />
        <button id="locate-provider" class="btn btn-primary">Find a provider near me</button>
      </div>
    {% else %}
      <div id="hold-providers-link" class="invisible">
        <br />
        For a current list of vaccine providers, visit:<br />
        <span id="providers-link"></span>
      </div>
    {% endif %}

    <small>
      Last updated: 
      <span id="updated"></span>
    </small>
  </div>

  <div class="card card-thin mx-auto invisible" id="hold-currently-eligible">
    <div class="card-body">
      <h4>Am I eligible?</h4>
      You are currently eligible if you belong to any of the following groups:<br />
      <span id="currently-eligible"></span>
    </div>
  </div>

  <div class="card card-wide mx-auto invisible" id="hold-eligible">
    <div class="card-body">
      <h4>I'm eligible. How do I get the vaccine?</h4>
      <small id="hold-eligible-notes" class="invisible">
        <strong>Notes: </strong>
        <span id="eligible-notes"></span>
      </small>
      <table>
        <tr><th>Group</th><th>Instructions</th></tr>
        <tr>
          <td id="eligible-1"></td>
          <td id="eligible-1-instruct">y</td>
        </tr>
        <tr id="hold-eligible-2" class="invisible">
          <td id="eligible-2"></td>
          <td id="eligible-2-instruct">y</td>
        </tr>
        <tr id="hold-eligible-3" class="invisible">
          <td id="eligible-3"></td>
          <td id="eligible-3-instruct">y</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="card card-thin mx-auto invisible" id="hold-not-eligible">
    <div class="card-body">
      <h4>I'm not eligible yet. When can I get the vaccine?</h4>
      <small id="hold-not-eligible-notes" class="invisible">
        <strong>Notes: </strong>
        <span id="not-eligible-notes"></span>
      </small>
      <table id="not-eligible-phases" class="invisible">
        <tr><th>Group</th><th>Timeline</th></tr>
        <tr>
          <td id="not-eligible-1"></td>
          <td id="not-eligible-1-time">y</td>
        </tr>
        <tr id="hold-not-eligible-2" class="invisible">
          <td id="not-eligible-2"></td>
          <td id="not-eligible-2-time">y</td>
        </tr>
        <tr id="hold-not-eligible-3" class="invisible">
          <td id="not-eligible-3"></td>
          <td id="not-eligible-3-time">y</td>
        </tr>
      </table>
    </div>
  </div>

  <center>
    <div id="hold-resource-1" class="invisible">
      <br />
      Additional resources:<br />
      <span id="resource-1"></span><br />
      <span id="resource-2"></span>
    </div>

    <div id="hold-hotline" class="invisible">
      <br />
      State hotline: 
      <span id="hotline"></span>
    </div>

    <div id="status" class="invisible">
      <br />
      As of <strong id="date"></strong>, {{ page.name }} COVID-19 vaccine distribution has entered <strong id="phase"></strong>.
    </div>

    <br />
    <a href='/report'>
      <button class="button btn btn-secondary">
      Submit a correction
      </button>
    </a>
  </center>
  <br />
</div>

{{ content }}

<a name="providers"></a>
{% if page.lat %}
  {% include map.html %}
{% endif %}

<script>
  $("#page-top").addClass("bg-light");
  $("#mainNav").css("background-color","#212529");

  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: 'https://docs.google.com/spreadsheets/d/1ZlVkvo3jIS_Cyek1SWIPyyyZi0_nI_5rEI4VWLJ80dk/gviz/tq?tqx=out:csv&sheet=State%20Summaries',
      dataType: "text",
      success: function (csvData) { parseState(csvData, "{{ page.name }}"); }
    });
  });

  var converter = new showdown.Converter();
  converter.setOption('openLinksInNewWindow', true);
  converter.setOption('simplifiedAutoLink', true);

  function parseState(csv, stateName) {
    var rows = Papa.parse(csv).data;
    var states = rows[0];

    var stateCol;
    for (stateCol=0; stateCol<states.length; stateCol++) {
      if (states[stateCol] == stateName) {
        break;
      }
    }

    data = {};
    for (i=1; i<rows.length; i++) {
      data[rows[i][0]] = rows[i][stateCol];
    }

    $("#website").html(link(data['State Vaccination Website']));
    $("#updated").html(data['Last Updated'] + ' ET');

    if (data['Providers Link'].length > 0) {
      $("#hold-providers-link").removeClass('invisible');
      $("#providers-link").html(link(data['Providers Link']));
    }

    if (data['Resource 1'].length > 0) {
      $("#hold-resource-1").removeClass('invisible');
      mark(data['Resource 1'], 'resource-1');
    }
    if (data['Resource 2'].length > 0) {
      mark(data['Resource 2'], 'resource-2');
    }


    if (data['Date of latest phase start'].length > 1 && data['Name of latest phase'].length > 0) {
      $("#status").removeClass('invisible');

      $("#date").html(data['Date of latest phase start']);
      $("#phase").html(data['Name of latest phase']);
    }

    if (data['List of currently eligible classes'].length > 0) {
      $("#hold-currently-eligible").removeClass('invisible');
      mark(data['List of currently eligible classes'], 'currently-eligible', true);
    }

    if (data['Eligible class 1'].length > 0) {
      $("#hold-eligible").removeClass('invisible');
      mark(data['Eligible class 1'], 'eligible-1', true);
      mark(data['Eligible class 1 instructions'], 'eligible-1-instruct');
    }
    if (data['Eligible class 2'].length > 0) {
      $("#hold-eligible-2").removeClass('invisible');
      mark(data['Eligible class 2'], 'eligible-2', true);
      mark(data['Eligible class 2 instructions'], 'eligible-2-instruct');
    }
    if (data['Eligible class 3'].length > 0) {
      $("#hold-eligible-3").removeClass('invisible');
      mark(data['Eligible class 3'], 'eligible-3', true);
      mark(data['Eligible class 3 instructions'], 'eligible-3-instruct');
    }
    if (data['Eligible classes - Additional links or notes'].length > 0) {
      $("#hold-eligible-notes").removeClass('invisible');
      mark(data['Eligible classes - Additional links or notes'], 'eligible-notes');
    }

    if (data['List of next phase 1 eligible classes'].length > 0 || data['Not eligible - Additional links or notes']) {
      $("#hold-not-eligible").removeClass('invisible');

      if (data['List of next phase 1 eligible classes'].length > 0) {
        $("#not-eligible-phases").removeClass('invisible');
        mark(data['List of next phase 1 eligible classes'], 'not-eligible-1', true);
        var phase1time = data['Next phase 1 estimated start date'];
        if (phase1time.length == 0) { phase1time = '[Unknown]'}
        mark(phase1time, 'not-eligible-1-time');
      }
      if (data['List of next phase 2 eligible classes'].length > 0) {
        $("#hold-not-eligible-2").removeClass('invisible');
        mark(data['List of next phase 2 eligible classes'], 'not-eligible-2', true);
        var phase2time = data['Next phase 2 estimated start date'];
        if (phase2time.length == 0) { phase2time = '[Unknown]'}
        mark(phase2time, 'not-eligible-2-time');
      }
      if (data['List of next phase 3 eligible classes'].length > 0) {
        $("#hold-not-eligible-3").removeClass('invisible');
        mark(data['List of next phase 3 eligible classes'], 'not-eligible-3', true);
        var phase3time = data['Next phase 3 estimated start date'];
        if (phase3time.length == 0) { phase3time = '[Unknown]'}
        mark(phase3time, 'not-eligible-3-time');
      }
      if (data['Not eligible - Additional links or notes'].length > 0) {
        $("#hold-not-eligible-notes").removeClass('invisible');
        mark(data['Not eligible - Additional links or notes'], 'not-eligible-notes');
      }

    }

    if (data['State Vaccination Phone/Hotline'].length > 0) {
      $("#hold-hotline").removeClass('invisible');
      $("#hotline").html(data['State Vaccination Phone/Hotline']);
    }

  }

  function link(str) {
    str = str.trim();
    return `<a target="_blank" href="${str}">${str}</a>`;
  }

  function mark(data, id, list=false) {
    data = data.trim();
    var dataArray = data.split('\n');
    dataArray.forEach((row, i) => {
      if (list) {
        if (row.length > 0) {
          if (dataArray.length > 1) {
            dataArray[i] = `- ${row}`
          } else {
            dataArray[i] = `${row}`
          }
        } else {
          dataArray[i] = '<br /><br />'
        }
      } else {
        if (dataArray.length > 1) {
          dataArray[i] = `${row}<br />`
        } else {
          dataArray[i] = row
        }
      }
    });
    data = dataArray.join('\n');
    $("#"+id).html(converter.makeHtml(data));
  }
</script>
