<div class="container state-holder">
  <div class="intro-text text-center">
    <h2>{{ page.name }}</h2>
    <div>
      <br />
      For the latest official updates from your state, visit:<br />
      <div id="website"></div>
    </div>
    {% if page.lat %}
      <div>
        <br />
        For a map of current vaccine providers in {{ page.name }}, <a href="#providers">click here</a>.
      </div>
    {% else %}
      <div id="hold-providers-link" class="invisible">
        <br />
        For a current list of vaccine providers, visit:<br />
        <span id="providers-link"></span>
      </div>
    {% endif %}

    <div id="status" class="invisible">
      <br />
      As of <strong id="date"></strong>, {{ page.name }} COVID-19 vaccine distribution has entered <strong id="phase"></strong>.
    </div>
    <small>
      Last updated: 
      <span id="updated"></span>
    </small>
  </div>

  <div class="card card-thin mx-auto invisible" id="hold-currently-eligible">
    <div class="card-body">
      <h4>Am I eligible?</h4>
      You are currently eligible if you belong to any of the following groups:<br />
      <span id="currently-eligible"></span>
    </div>
  </div>

  <div class="card card-wide mx-auto invisible" id="hold-eligible">
    <div class="card-body">
      <h4>I'm eligible. How do I get the vaccine?</h4>
      <table>
        <tr><th>Group</th><th>Instructions</th></tr>
        <tr>
          <td id="eligible-1"></td>
          <td id="eligible-1-instruct">y</td>
        </tr>
        <tr id="hold-eligible-2" class="invisible">
          <td id="eligible-2"></td>
          <td id="eligible-2-instruct">y</td>
        </tr>
        <tr id="hold-eligible-3" class="invisible">
          <td id="eligible-3"></td>
          <td id="eligible-3-instruct">y</td>
        </tr>
      </table>
      <small id="hold-eligible-notes" class="invisible">
        <br />
        <strong>Additional notes: </strong>
        <span id="eligible-notes"></span>
      </small>
    </div>
  </div>

  <div class="card card-thin mx-auto invisible" id="hold-not-eligible">
    <div class="card-body">
      <h4>I'm not eligible yet. When can I get the vaccine?</h4>
      <table id="not-eligible-phases" class="invisible">
        <tr><th>Group</th><th>Timeline</th></tr>
        <tr>
          <td id="not-eligible-1"></td>
          <td id="not-eligible-1-time">y</td>
        </tr>
        <tr id="hold-not-eligible-2" class="invisible">
          <td id="not-eligible-2"></td>
          <td id="not-eligible-2-time">y</td>
        </tr>
        <tr id="hold-not-eligible-3" class="invisible">
          <td id="not-eligible-3"></td>
          <td id="not-eligible-3-time">y</td>
        </tr>
      </table>
      <small id="hold-not-eligible-notes" class="invisible">
        <br />
        <strong>Additional notes: </strong>
        <span id="not-eligible-notes"></span>
      </small>
    </div>
  </div>

  <center>
    <div id="hold-resource-1" class="invisible">
      <br />
      Additional resources:<br />
      <span id="resource-1"></span><br />
      <span id="resource-2"></span>
    </div>

    <div id="hold-hotline" class="invisible">
      <br />
      State hotline: 
      <span id="hotline"></span>
    </div>
  </center>
  <br /><br />
</div>

{{ content }}

<a name="providers"></a>
{% if page.lat %}
<center>
  <div class="w-full mt18" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" style="height: 600px;">
    <div id="map"></div>
  </div>
</center>
{% endif %}

<script>

  $("#page-top").addClass("bg-light");
  $("#mainNav").css("background-color","#212529");

  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: 'https://docs.google.com/spreadsheets/d/1ZlVkvo3jIS_Cyek1SWIPyyyZi0_nI_5rEI4VWLJ80dk/gviz/tq?tqx=out:csv&sheet=State%20Summaries',
      dataType: "text",
      success: function (csvData) { parseState(csvData, "{{ page.name }}"); }
    });
  });

  var converter = new showdown.Converter();
  converter.setOption('openLinksInNewWindow', true);
  converter.setOption('simplifiedAutoLink', true);

  function parseState(csv, stateName) {
    var rows = Papa.parse(csv).data;
    var states = rows[0];

    var stateCol;
    for (stateCol=0; stateCol<states.length; stateCol++) {
      if (states[stateCol] == stateName) {
        break;
      }
    }

    data = {};
    for (i=1; i<rows.length; i++) {
      data[rows[i][0]] = rows[i][stateCol];
    }

    $("#website").html(link(data['State Vaccination Website']));
    $("#updated").html(data['Last Updated'] + ' ET');

    if (data['Providers Link'].length > 0) {
      $("#hold-providers-link").removeClass('invisible');
      $("#providers-link").html(link(data['Providers Link']));
    }

    if (data['Resource 1'].length > 0) {
      $("#hold-resource-1").removeClass('invisible');
      mark(data['Resource 1'], 'resource-1');
    }
    if (data['Resource 2'].length > 0) {
      mark(data['Resource 2'], 'resource-2');
    }


    if (data['Date of latest phase start'].length > 0 && data['Name of latest phase'].length > 0) {
      $("#status").removeClass('invisible');
      mark(data['Date of latest phase start'], 'date');
      mark(data['Name of latest phase'], 'phase');
    }

    if (data['List of currently eligible classes'].length > 0) {
      $("#hold-currently-eligible").removeClass('invisible');
      mark(data['List of currently eligible classes'], 'currently-eligible', true);
    }

    if (data['Eligible class 1'].length > 0) {
      $("#hold-eligible").removeClass('invisible');
      mark(data['Eligible class 1'], 'eligible-1', true);
      mark(data['Eligible class 1 instructions'], 'eligible-1-instruct');
    }
    if (data['Eligible class 2'].length > 0) {
      $("#hold-eligible-2").removeClass('invisible');
      mark(data['Eligible class 2'], 'eligible-2', true);
      mark(data['Eligible class 2 instructions'], 'eligible-2-instruct');
    }
    if (data['Eligible class 3'].length > 0) {
      $("#hold-eligible-3").removeClass('invisible');
      mark(data['Eligible class 3'], 'eligible-3', true);
      mark(data['Eligible class 3 instructions'], 'eligible-3-instruct');
    }
    if (data['Eligible classes - Additional links or notes'].length > 0) {
      $("#hold-eligible-notes").removeClass('invisible');
      mark(data['Eligible classes - Additional links or notes'], 'eligible-notes');
    }

    if (data['List of next phase 1 eligible classes'].length > 0 || data['Not eligible - Additional links or notes']) {
      $("#hold-not-eligible").removeClass('invisible');

      if (data['List of next phase 1 eligible classes'].length > 0) {
        $("#not-eligible-phases").removeClass('invisible');
        mark(data['List of next phase 1 eligible classes'], 'not-eligible-1', true);
        var phase1time = data['Next phase 1 estimated start date'];
        if (phase1time.length == 0) { phase1time = '[Unknown]'}
        mark(phase1time, 'not-eligible-1-time');
      }
      if (data['List of next phase 2 eligible classes'].length > 0) {
        $("#hold-not-eligible-2").removeClass('invisible');
        mark(data['List of next phase 2 eligible classes'], 'not-eligible-2', true);
        var phase2time = data['Next phase 2 estimated start date'];
        if (phase2time.length == 0) { phase2time = '[Unknown]'}
        mark(phase2time, 'not-eligible-2-time');
      }
      if (data['List of next phase 3 eligible classes'].length > 0) {
        $("#hold-not-eligible-3").removeClass('invisible');
        mark(data['List of next phase 3 eligible classes'], 'not-eligible-3', true);
        var phase3time = data['Next phase 3 estimated start date'];
        if (phase3time.length == 0) { phase3time = '[Unknown]'}
        mark(phase3time, 'not-eligible-3-time');
      }
      if (data['Not eligible - Additional links or notes'].length > 0) {
        $("#hold-not-eligible-notes").removeClass('invisible');
        mark(data['Not eligible - Additional links or notes'], 'not-eligible-notes');
      }

    }

    if (data['State Vaccination Phone/Hotline'].length > 0) {
      $("#hold-hotline").removeClass('invisible');
      $("#hotline").html(data['State Vaccination Phone/Hotline']);
    }

  }

  function link(str) {
    str = str.trim();
    return `<a target="_blank" href="${str}">${str}</a>`;
  }

  function mark(data, id, list=false) {
    data = data.trim();
    data = data.replace('\n\n', '\n');
    if (list) {
      var dataArray = data.split('\n');
      dataArray.forEach((row, i) => dataArray[i] = `- ${row}`);
      data = dataArray.join('\n');
    }
    $("#"+id).html(converter.makeHtml(data));
  }
</script>


{% if page.lat %}
<script>
  var transformRequest = (url, resourceType) => {
    var isMapboxRequest =
      url.slice(8, 22) === "api.mapbox.com" ||
      url.slice(10, 26) === "tiles.mapbox.com";
    return {
      url: isMapboxRequest
        ? url.replace("?", "?pluginName=sheetMapper&")
        : url
    };
  };
  mapboxgl.accessToken = 'pk.eyJ1IjoiZmluZHlvdXJ2YWNjaW5lIiwiYSI6ImNrano2b2FmczAxMmQyd3Biajg3Mmg2a2cifQ.oOyj-x2PbbQJ35Iza4RMnA'; //Mapbox token
  var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/light-v10', // stylesheet location
    center: [parseFloat("{{ page.lon }}"), parseFloat("{{ page.lat }}") ], // starting position
    zoom: 4, // starting zoom
    transformRequest: transformRequest
  });

  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: 'https://docs.google.com/spreadsheets/d/{{ page.gid }}/gviz/tq?tqx=out:csv&sheet=data',
      dataType: "text",
      success: function (csvData) { makeGeoJSON(csvData); }
    });

    function makeGeoJSON(csvData) {
      csv2geojson.csv2geojson(csvData, {
        latfield: 'Latitude',
        lonfield: 'Longitude',
        delimiter: ','
      }, function (err, data) {
        map.on('load', function () {

          // Add the the layer to the map
          map.addLayer({
            'id': 'csvData',
            'type': 'circle',
            'source': {
              'type': 'geojson',
              'data': data
            },
            'paint': {
              'circle-radius': 5,
              'circle-color': "purple"
            }
          });


          // When a click event occurs on a feature in the csvData layer, open a popup at the
          // location of the feature, with description HTML from its properties.
          map.on('click', 'csvData', function (e) {
            var coordinates = e.features[0].geometry.coordinates.slice();

            //set popup text
            //You can adjust the values of the popup to match the headers of your CSV.
            // For example: e.features[0].properties.Name is retrieving information from the field Name in the original CSV.
            var description = `<h3>` + e.features[0].properties.Name + `</h3>` + `<h4>` + `<b>` + `Address: ` + `</b>` + e.features[0].properties.Address + `</h4>`;
            if (e.features[0].properties.Phone) {
              description += `<h4>` + `<b>` + `Phone: ` + `</b>` + e.features[0].properties.Phone + `</h4>`;
            }

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
              coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            //add Popup to map

            new mapboxgl.Popup()
              .setLngLat(coordinates)
              .setHTML(description)
              .addTo(map);
          });

          // Change the cursor to a pointer when the mouse is over the places layer.
          map.on('mouseenter', 'csvData', function () {
            map.getCanvas().style.cursor = 'pointer';
          });

          // Change it back to a pointer when it leaves.
          map.on('mouseleave', 'places', function () {
            map.getCanvas().style.cursor = '';
          });

          var bbox = turf.bbox(data);
          map.fitBounds(bbox, { padding: 50 });

        });

      });
    };
  });
</script>
{% endif %}