---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.highlight | default: "#fed136" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";

// Custom CSS

// Cam's CSS

html body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .masthead {
    flex-grow: 1;
    margin-top: 40px;
  }
  header.masthead .intro-text {
    padding-top: 150px;
  }
  .footer2-wrapper {
    background-color: #f2f2f2;
  }
  .footer2 {
    padding: 25px;
    @media (min-width: 992px) {
      display: flex;
      padding: 50px 0;
    }
    .items {
      margin-right: 90px;
      margin-bottom: 25px;
    }
    .footer-title {
      font-weight: 600;
      margin-bottom: 24px;
    }
    .footer-item {
      margin-bottom: 16px;
    }
    .footer-item a {
      color: black;
      &:hover {
        color: black;
      }
      img {
        margin-left: 6px;
      }
    }
  }
  #mainNav.navbar, #mainNav.navbar-shrink {
    background-color: inherit !important;
    .container {
      @media (min-width: 992px) {
        padding: 0 60px;
      }
    }
  }
  .navbar-nav .nav-item .nav-link {
    color: black !important;
    font-weight: 600 !important;
  }
  .container {
    color: black;

    .custom-select {
      width: 100%;
    }
    &.splash-container {
      .intro-text {
        padding-bottom: 0;
        .header {
          font-size: 25px;
        }
      }
      .right .intro-text {
        padding-top: 30px;
      }
      @media (min-width: 992px) {
        display: flex;
        .left, .right {
          width: 50%;
          padding: 60px;
        }
      }
      text-align: left;

      .right {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

// End Cam

header.masthead .intro-text {
  padding-top: 150px;
}

header.masthead .intro-text .intro-heading {
  font-size: 25px;
}

@media(min-width:768px) {
  header.masthead .intro-text {
    padding-top: 200px;

    .intro-heading {
      font-size: 50px;
    }
  }
}

a {
  word-wrap: break-word;
}

.state-holder {
  padding-top: 80px;
  padding-bottom: 100px;

  ul {
    padding-inline-start: 20px;
  }

  .card {
    margin-top: 15px;
    max-width: 100%;
  }

  .card-thin {
    width: 600px;
  }

  .card-wide {
    width: 1000px;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }
  table, th, td {
    word-wrap: break-word;
    border: 1px solid $gray-900;
    padding: 5px;
  }
  th {
    background-color: $gray-300;
  }

  p {
    display: inline;
  }
}

@media(min-width:768px) {
  .state-holder {
    padding-top: 150px;
  }
}

.invisible {
  display: none !important;
}

button#locate-provider.btn-primary {
  &:active, &:focus {
    background-color: white !important;
    border-color: white !important;
  }
}