#map {
  height: 70vh;
  width: 100vw;
}

.mapboxgl-ctrl-geocoder {
  max-width: 10%;
}

/* Map filter styling */
.filter-ui {
  background: #fff;
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: 100;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px #666;
}

.filter-label {
  padding-left: 3px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Map popup styling */
.mapboxgl-popup {
  padding-bottom: 5px;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 250px;
  max-height: 400px;
  overflow-y: scroll;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content small {
  padding-left: 5px;
}

.mapboxgl-popup-content p {
  padding-left: 7px;
  padding-right: 5px;
}

.mapboxgl-popup-content h3 {
  background: rgb(61, 59, 59);
  text-align: center;
  color: #fff;
  margin: 0;
  display: block;
  padding: 15px;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: -5px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px 3px 10px 10px;
  font-weight: 400;
  font-size: 1em;
}

.mapboxgl-container {
  cursor: pointer;
}

.mapboxgl-popup {
  transform: none !important;
  top: 15%;
  left: 10px;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
  display: none !important;
}