/* Map filter styling */
#map-and-filters {
  height: 100%;
}

.filter-ui {
  background-color: #fff;
  z-index: 100;
  display: block;
  position: absolute;
  top: 0px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin: 5px;
}

.filter-header {
  line-height: 2em;
}

.filter-ui label {
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
}

/* overrides default green */
.filter-ui .key-container .netliva-switch input:checked + label {
  --switch-active-color: #34c759;
}

.filter-label {
  padding-left: 3px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.key-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.key-container .switch-container {
  text-align: right;
  margin-left: 5px;
}

#mobile-map-holder {
  display: none;
  min-height: 50vh;
}

#mobile-filters-holder {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

@media (max-width: 991px) {
  .filter-ui {
    display: block;
    position: relative;
    width: 80%;
  }

  #filters {
    min-width: 80%;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#wide-map-holder {
  min-height: 80vh;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

#map-search {
  min-width: 410px;
  display: flex;
  margin-bottom: 4px;
  padding-right: 10px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

#locate-provider {
  min-width: 20%;
  display: inline-block;
  margin-bottom: 4px;
}

.cards-container {
  max-height: 80vh;
  overflow-y: scroll;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.1);
}

.dot {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  flex-shrink: 0;
}

.pin {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50% 50% 50% 0;
  background: #ff0000;
  position: absolute;
  margin-top: -7px;
}

.pin:after {
  content: "";
  width: 7px;
  height: 7px;
  margin: 4px 0 0 4px;
  background: #fff;
  opacity: 0.7;
  position: absolute;
  border-radius: 50%;
}

.highlight-pin {
  box-shadow: 0 0 12px 6px #0ff;
}

.mapboxgl-container {
  cursor: pointer;
}

#map-toggle-header {
  display: none;
}

@media (max-width: 991px) {
  #cards-and-search {
    min-width: 100%;
  }

  .cards-container {
    width: 100%;
    max-height: none;
    overflow-y: visible;
  }

  #map-toggle-header {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    margin: 5px;
  }
}
