.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

/* Map filter styling */
#filters {
  display: none;
}

.filter-ui {
  background: #fff;
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: 100;
  text-align: left;
  padding: 10px;
  border-radius: 3px;
}

.filter-header {
  line-height: 2em;
}

#map {
    max-height: 70vh;
}

.providers-container {
  margin-left: 5px;
}

#map-search {
  margin: 10px;
}

.cards-container {
  max-height: 60vh;
  overflow-y: scroll;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.1);
}

.filter-ui label {
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
}

/* overrides default green */
.filter-ui .key-container .netliva-switch input:checked + label {
  --switch-active-color: #34c759;
}

.filter-label {
  padding-left: 3px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.key-container {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.key-container:last-child {
  margin-bottom: 0;
}

.key-container .switch-container {
  text-align: right;
  margin-left: 16px;
}

.dot {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  flex-shrink: 0;
}

.pin {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50% 50% 50% 0;
  background: #ff0000;
  position: absolute;
  margin-top: -7px;
}

.pin:after {
  content: '';
  width: 7px;
  height: 7px;
  margin: 4px 0 0 4px;
  background: #fff;
  opacity: 0.7;
  position: absolute;
  border-radius: 50%;
}

.highlight-pin {
  box-shadow: 0 0 12px 6px #0ff;
}

/* Map popup styling */
.mapboxgl-popup {
  padding-bottom: 5px;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 250px;
  max-height: 400px;
  overflow-y: scroll;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content small {
  padding-left: 10px;
}

.mapboxgl-popup-content p {
  padding-left: 7px;
  padding-right: 5px;
}

.mapboxgl-popup-content h3 {
  background: rgb(61, 59, 59);
  text-align: center;
  color: #fff;
  margin: 0;
  display: block;
  padding: 15px;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: -5px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px 3px 10px 10px;
  font-weight: 400;
  font-size: 1em;
}

.mapboxgl-container {
  cursor: pointer;
}

.mapboxgl-popup {
  transform: none !important;
  top: 15%;
  left: 10px;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  display: none !important;
}
