/* Map filter styling */
#filters {
  display: none;
}

.filter-ui {
  background: #fff;
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: 100;
  text-align: left;
  padding: 10px;
  border-radius: 3px;
}

.filter-header {
  line-height: 2em;
}

.filter-ui label {
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
}

/* overrides default green */
.filter-ui .key-container .netliva-switch input:checked + label {
  --switch-active-color: #34c759;
}

.filter-label {
  padding-left: 3px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.key-container {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.key-container:last-child {
  margin-bottom: 0;
}

.key-container .switch-container {
  text-align: right;
  margin-left: 16px;
}

#map {
  max-height: 70vh;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

#map-search {
  min-width: 420px;
  display: inline-block;
  margin-bottom: 4px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

#locate-provider {
  min-width: 20%;
  display: inline-block;
  margin-bottom: 4px;
}

.cards-container {
  max-height: 60vh;
  overflow-y: scroll;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.1);
}

.dot {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  flex-shrink: 0;
}

.pin {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50% 50% 50% 0;
  background: #ff0000;
  position: absolute;
  margin-top: -7px;
}

.pin:after {
  content: "";
  width: 7px;
  height: 7px;
  margin: 4px 0 0 4px;
  background: #fff;
  opacity: 0.7;
  position: absolute;
  border-radius: 50%;
}

.highlight-pin {
  box-shadow: 0 0 12px 6px #0ff;
}

.mapboxgl-container {
  cursor: pointer;
}

@media (max-width: 991px) {
  .cards-container {
    width: 100%;
    max-height: none;
    overflow-y: visible;
  }

  #map {
    display: none;
  }

  #locate-provider {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}